.replaybutton
{
	position:absolute;
	background-image: url(flappy.png);
	width: 104px;
	height: 58px;
	background-position: -708px -236px;
	visibility: hidden;
	z-index: 1000;
	margin-left: auto;
	margin-right: auto;
	left: 100px;
	top:150px;
}

.free-pipe
{
	width: 53px;
	height: 100px;
}

.top-pipe
{
	width: 52px;
	height: 320px;
	background-image: url(flappy.png);
	background-position: -112px -646px;
}

#player
{
   left: 40px;
   top: 210px;
}

.bottom-pipe
{
	width: 52px;
	height: 320px;
	background-image: url(flappy.png);
	background-position: -168px -646px;
}

.pipe1
{
	position: relative;
	left: 300px;
	top: -200px;
	z-index:500;
}

.pipe2
{
	visibility: hidden;
	position: relative;
	left: 300px;
	top: -1000px;
	z-index:500;
}

.overlay
{
	background-color: white;
	visibility: hidden;
	position: absolute;
	width: 289px;
	height: 511px;
	z-index: 9000;
}

.background
{
	background-image: url(flappy.png);
	position: absolute;
	width: 289px;
	height: 511px;
	overflow: hidden;
}

.floor
{
	background-image: url(flappy.png);
	width: 289px;
	height: 112px;
	left: 0px;
	background-position: -584px 0px;
	
	position: absolute;
	top: 420px;
	z-index:800;	
}

#score
{
    position: absolute;
    z-index: 1000;

    left: 0;
    right: 0;
    top: 20px;

    width: 84px;
    height: 36px;

    margin-left: auto;
    margin-right: auto;

    letter-spacing: 0px;
    word-spacing: -5px;

    text-align: center;
}

.digit
{
    background-image: url(flappy.png);

    width: 28px;
    height: 36px;

    display: inline-block;
}

.pos
{
    display: none !important;
}

.pos0
{
    background-position: -990px -120px;
}

.pos1
{
    background-position: -270px -910px;
    width: 20px !important;
}

.pos2
{
    background-position: -582px -320px;
}

.pos3
{
    background-position: -610px -320px;
}

.pos4
{
    background-position: -638px -320px;
}

.pos5
{
    background-position: -666px -320px;
}

.pos6
{
    background-position: -582px -368px;
}

.pos7
{
    background-position: -610px -368px;
}

.pos8
{
    background-position: -638px -368px;
}

.pos9
{
    background-position: -666px -368px;
}

.flappy 
{
	background-image: url(flappy.png);
	position: absolute;
	width: 34px;
	height: 24px;
	background-position: -174px -982px;
	
	left: 60px;
   	top: 210px;
	z-index: 700;

	-moz-animation-duration: 0.7s;
	-moz-animation-name: flap;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: step-end;
}

@-moz-keyframes flap{
	from{
		background-position: -174px -982px;
	}
	25%{
		background-position: -230px -658px;
	}
	50%{
		background-position: -230px -710px;
	}
	75%{
		background-position: -230px -658px;
	}
}
